/* // @import '../../styles/layout/queries.scss';
// @import "../../../node_modules/bootstrap/scss/bootstrap"; */

#Button1 {
    width: 200px;
    height: 60px;
    background-color: var(--bs-pink); 
    font-weight: bolder;
    font-size: larger;
    box-shadow: var(--bs-box-shadow-md);
}

#Button1:hover {
    width: 200px;
    height: 60px;
    background-color: var(--bs-secondary); 
    font-weight: bolder;
    font-size: larger;
    box-shadow: none;
}
