// @import '../../styles/layout/queries.scss';
// @import "../../../node_modules/bootstrap/scss/bootstrap";

#Button1 {
    width: 200px;
    height: 60px;
    background-color: var(--petpal-color-button-1);
    
}
