.petPictureRow {
    display: flex;
    padding: 2rem;
    align-self: center;
    justify-content: center;
}

.petPicture {
    width: 250px;
    height: 250px;
    background-color: #dadada;
    border-radius: 125px;
    border-color: purple;
    border-width: 10px;
    border-style: solid;
    padding: 0;
}