@import '../../styles/layout/queries.scss';
// @import '../../styles/bootswatch.scss';

.loginBody {
    // height: calc(100vh - 167px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--petpal-color-1);
}

.loginBox {
    width: 600px;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--petpal-color-2);
    border-radius: 10px;
    
    box-shadow: var(--bs-box-shadow)
}

.loginForm {
    width:90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--petpal-color-2);
    border-radius: 10px;
    
    box-shadow: var(--bs-box-shadow)
}