/* @import url('../../styles/custom.css'); */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f2f2;
    min-height: 250px;
}

.headerPhoto{
    width: 8rem;
    margin: 1rem;
    cursor: pointer;
}

.calendarIcon {
    cursor: pointer;
}

.logoutIcon {
    cursor: pointer;
}
